@model IEnumerable<Clases.Servicio>

@{
    ViewData["Title"] = "Mis compras";
}

<h1>Mis compras</h1>
<br>
<form method="post" id="formFchsCompras">
    <label>Fecha inicio</label>
    <input type="date" name="f1" value="0" id="fchIni"><br>
    <span id="errorF1" class="text-danger"></span><br><br>
    <label>Fecha final</label>
    <input type="date" name="f2" value="0" id="fchFin"><br>
    <span id="errorF2" class="text-danger"></span><br><br>
    <input type="submit" value="Buscar" class="btn btn-info">
</form>

<br>
<br>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    Costo final
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrecioFinal)
                    </td>
                    <td>
                        @Html.ActionLink("Ver pedido", "Details", "Servicio", new { idServicio = item.Id }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>
        <a asp-action="SeleccionarTipoServicio" asp-controller="Servicio" class="btn btn-primary">Hacer nuevo pedido</a>
    </p>
}
else
{
    <p>
        @ViewBag.msg
    </p>
}

@section Scripts {
    <script>

        document.querySelector("#formFchsCompras").addEventListener('submit', validarDatos);

        function validarDatos(ev) {

            ev.preventDefault();

            let f1 = document.querySelector("#fchIni").value;
            let f2 = document.querySelector("#fchFin").value;

            if (f1 == "") {
                let f1 = document.querySelector("#errorF1").innerHTML = "Ingrese una fecha de inicio";
            } else {
                document.querySelector("#errorF1").innerHTML = "";
            }

            if (f2 == "") {
                let f1 = document.querySelector("#errorF2").innerHTML = "Ingrese una fecha final";
            } else {
                document.querySelector("#errorF2").innerHTML = "";
            }

            if (f1 != "" && f2 != "") {
                this.submit();
            }
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}